html{background-color: #000000;}
body{background-color: #346857;margin:3%;}
title{color: #000000;text-align: center;}
h1, h2 {font-family:unifont;color: #000000;text-align: center; position: relative;top:45px;}
h1{font-size:36px;}
h2{font-size:27px;}
form{margin-left:3%; margin-right:3%; margin-top:5%; margin-bottom:0; background-color:#2f3635;}
.p1,.p2{text-indent:99px;margin-left:90px; margin-right:90px;margin-top:25px;font-family:monospace;color:#b1b1b1;text-align:justify;font-size:18px;}
.p2{margin-top:16px;margin-bottom:36px;font-style:italic;}
.p3{text-indent:70px;text-align:left;color:black;font-weight:bold;font-family:unifont;margin:10px;font-size:25px;}
hr{color:#2f3635;}
h3{font-family:unifont;text-align: center;color:#56b897; margin-top:52px;font-size:25px;}
img{margin-left:435px; margin-right:400px;margin-bottom:34px;}
a{color:#ADD8E6;}
footer{margin-left:3%; margin-right:3%;margin-top:40px;margin-bottom:6%;background-color:#2f3635}

@media (max-width: 768px), (max-width: 480px) {
html{background-color: #000000;font-family:monospace;}
body{background-color: #346857;margin-left:4%;}
title{color:#000000;text-align:center;}
h1,h2,h3{margin-top:30px;text-align: center;}
h1,{font-size:25px;}
h2,h3{font-size:18px;}
h3{color:#56b897;}
form {margin-top:16%; margin-bottom:6%;margin-left:3%;margin-right:3% ;background-color: #2f3635;}
.p1,.p2{text-indent: 3rem;font-size: 16px;line-height: 1.5;}
.p1,.p2{text-align:justify;margin-bottom:5%;margin-top:5%;margin-left:4%;margin-right:4%;color:#b1b1b1}
.p2{font-style:italic;}
.p3{text-align:left;color:black;font-size:12px;}
hr{ color: #2f3635; }
img{display: block;max-width: 97%;height:auto;margin: 0 auto 20px auto;}
footer{margin: 7% 3% 3% 3%;background-color: #2f3635;}
a{color:#ADD8E6;}
}